<div class="guia-destinos">
    <div class="texto-banner">
        <h4 class="texto-banner__titulo"> Destinos e lugares para viajar</h4>
        <p class="texto-banner__subtitulo">Conheça os destinos que ofertamos a você e planeje sua próxima viagem!</p>
    </div>
    <div class="banner-produto" *ngFor="let produto of produtos">
        <img class="imagem-banner" src="{{produto.fotoProduto}}" alt="">
        <h3 class="nome-banner">{{produto.nomeProduto}}</h3>
        <h3 class="desc-banner">{{produto.descProduto}}</h3>
    </div>
</div>
<div class="atributos-container">
    <div class="atributos-teste">
    <img class="imagem-atributos" src="../../assets/image/bistrolagoazul.jpg" alt="Imagem Lago">
    <div class="texto-atributos">
        <h4 class="titulo-atributos">Confira as melhores vantagens para a sua viagem!</h4>
        <p class="descricao-atributos">Na goTrip você encontra as melhores opções e vantagens para sua viagem, verifique os melhores preços e tenha uma ótima experiencia. Confira as regiões das cidades de Curitiba, São Paulo e Rio de Janeiro por preços baixissimos e com o melhor atendimento. </p>
    </div>
</div>
</div>
